@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,700&display=swap');
:root{
    --bg: #000000;
    --text-color: #0872BF;
    --linear-g: #0872BF;
}
nav{width: 100%;top: 0;}
h1, h2, h3, h4, h5, h6,span{
    color: var(--text-color);
}
button{
    background-color: var(--linear-g);
    padding: 20px 20px;
}
a{
    color: white;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
    background-color: var(--bg);
}
.homepage{
    margin-top: 10%;
    margin-bottom: 7%;
}
.myprojects{
    margin-top: 10%;
    margin-bottom: 7%;
}
.recentprojects{
    margin-top: 10%;
    margin-bottom: 7%;
}
.card{
    background-color: var(--bg);
}
.btn{
    background-color: linear-gradient(blue, rgba(255,255,255,0.));
}
.timg{
    margin-top: -50px;
}
